body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading_container h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}
.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(8, 19, 92, 0.9), rgba(8, 19, 92, 0.9)), url(../images/slider-bg.jpg);
  background-size: cover;
}

.sub_page .hero_area {
  height: auto;
}

.header_section {
  padding: 15px 0;
}

.navbar-brand {
  margin: 0;
}
.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}
.custom_nav-container .navbar-nav {
  align-items: center;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.custom_nav-container .navbar-nav .nav-item .nav-link span {
  margin-left: 5px;
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #e41a2b;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0;
}
.custom_nav-container .nav_search-btn:hover {
  color: #e41a2b;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] {
  transform: rotate(360deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span {
  transform: rotate(45deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span::before, .custom_nav-container .navbar-toggler[aria-expanded=true] span::after {
  transform: rotate(90deg);
  top: 0;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-1 {
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-2 {
  display: none;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-3 {
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-3 {
  transform: none;
}

.quote_btn-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.quote_btn-container a {
  color: #ffffff;
  margin-right: 25px;
  text-transform: uppercase;
}
.quote_btn-container a span {
  margin-left: 5px;
}
.quote_btn-container a:hover {
  color: #08135c;
}

/*end header section*/
/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 125px;
}
.slider_section .row {
  align-items: center;
}
.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}
.slider_section .detail-box {
  color: #ffffff;
  text-align: center;
}
.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.slider_section .detail-box h1 span {
  color: #08135c;
}
.slider_section .find_container form .form-group {
  margin: 15px 0;
}
.slider_section .find_container form .form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 45px;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #ffffff;
}
.slider_section .find_container form .btn-box {
  display: flex;
}
.slider_section .find_container form .btn-box button.btn {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e41a2b;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid #e41a2b;
  outline: none;
  text-transform: uppercase;
}
.slider_section .find_container form .btn-box button.btn:hover {
  background-color: transparent;
  color: #e41a2b;
}
.slider_section .find_container .nice-select:after {
  content: "\f107";
  font-family: FontAwesome;
  border: none;
  width: auto;
  height: auto;
  transform: none;
  top: 7px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}
.slider_section .find_container .nice-select.open:after {
  content: "\f106";
}
.slider_section .find_container .job_check_list {
  display: flex;
  justify-content: center;
  padding: 0;
}
.slider_section .find_container .job_check_list li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 10px 15px 10px 0;
}
.slider_section .find_container .job_check_list label {
  color: #ffffff;
  margin: 0;
}
.slider_section .find_container .job_check_list .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.slider_section .find_container .job_check_list .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.slider_section .find_container .job_check_list .styled-checkbox + label:before {
  content: "";
  margin-right: 5px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}
.slider_section .find_container .job_check_list .styled-checkbox:hover + label:before {
  background: #f35429;
}
.slider_section .find_container .job_check_list .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.slider_section .find_container .job_check_list .styled-checkbox:checked + label:before {
  background: #f35429;
}
.slider_section .find_container .job_check_list .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.slider_section .find_container .job_check_list .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.slider_section .find_container .job_check_list .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.category_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15px;
  background-color: #e41a2b;
  color: #ffffff;
  transition: all 0.3s;
}
.category_section .box .img-box {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_section .box .img-box img {
  width: 100%;
}
.category_section .box .detail-box {
  margin-top: 15px;
}
.category_section .box .detail-box h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.category_section .box:hover {
  background-color: #b61522;
}

.about_section .row {
  align-items: center;
}
.about_section .img-box img {
  width: 100%;
  border-radius: 15px;
}
.about_section .detail-box p {
  margin-top: 15px;
}
.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #08135c;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid #08135c;
  outline: none;
  margin-top: 15px;
}
.about_section .detail-box a:hover {
  background-color: transparent;
  color: #08135c;
}

.job_section {
  background-color: #08135c;
  color: #ffffff;
}
.job_section .heading_container {
  margin-bottom: 15px;
}
.job_section .job_container {
  margin-top: 45px;
}
.job_section .job_heading {
  margin-bottom: 0;
  text-transform: uppercase;
}
.job_section .box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #a4a4a4;
  margin-top: 25px;
  transition: all 0.3s;
  border-radius: 5px;
}
.job_section .box .job_content-box {
  display: flex;
  align-items: center;
}
.job_section .box .img-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #717171;
  background-color: #ffffff;
}
.job_section .box .img-box img {
  width: 100%;
}
.job_section .box .detail-box h5 {
  font-weight: 600;
}
.job_section .box .detail-box .detail-info {
  display: flex;
}
.job_section .box .detail-box .detail-info h6 {
  margin: 0;
  margin-right: 15px;
}
.job_section .box .option-box {
  display: flex;
  margin-left: auto;
}
.job_section .box .option-box .fav-btn {
  margin-right: 25px;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  color: inherit;
}
.job_section .box .option-box .apply-btn {
  display: inline-block;
  padding: 5px 15px;
  background-color: #213092;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid #213092;
  outline: none;
}
.job_section .box .option-box .apply-btn:hover {
  background-color: transparent;
  color: #213092;
}
.job_section .box .option-box .apply-btn:hover {
  color: #ffffff;
}
.job_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.job_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e41a2b;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid #e41a2b;
  outline: none;
}
.job_section .btn-box a:hover {
  background-color: transparent;
  color: #e41a2b;
}

.expert_section .box {
  display: flex;
  flex-direction: column;
  background-color: #08135c;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 45px;
}
.expert_section .box .img-box {
  width: 100%;
}
.expert_section .box .img-box img {
  width: 100%;
}
.expert_section .box .detail-box {
  width: 100%;
  color: #ffffff;
  padding: 25px 15px;
}
.expert_section .box .detail-box a {
  color: inherit;
  font-size: 18px;
}
.expert_section .box .detail-box .expert_position {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.expert_section .box .detail-box .expert_rating {
  display: flex;
  margin-bottom: 15px;
}
.expert_section .box .detail-box p {
  margin-bottom: 0;
}
.expert_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.expert_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e41a2b;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid #e41a2b;
  outline: none;
}
.expert_section .btn-box a:hover {
  background-color: transparent;
  color: #e41a2b;
}

/* blog section end */
.blog_section .box {
  padding-bottom: 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 45px;
}
.blog_section .box .date_box {
  position: absolute;
  top: 0;
  left: 25px;
  padding: 20px;
  background-color: #08135c;
}
.blog_section .box .date_box h5 {
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
}
.blog_section .box .img-box img {
  width: 100%;
}
.blog_section .box .detail-box {
  margin-top: 25px;
  padding: 0 25px;
}
.blog_section .box .detail-box .blog_info {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blog_section .box .detail-box .blog_info a {
  color: #50504f;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0;
  margin-right: 25px;
}
.blog_section .box .detail-box .blog_info a span {
  margin-right: 5px;
}
.blog_section .box .detail-box .blog_info a i {
  font-size: 20px;
}
.blog_section .box .detail-box .blog_info a:hover {
  color: #e41a2b;
}
.blog_section .box .detail-box .blog_text h4 {
  font-weight: bold;
}
.blog_section .box .detail-box .blog_text p {
  color: #555555;
  font-size: 15px;
  margin-top: 10px;
}
.blog_section .box .detail-box a.blog_btn {
  color: #e41a2b;
}

/* blog section end */
.info_section {
  background-color: #030d47;
  color: #ffffff;
  padding: 65px 0 45px 0;
}
.info_section h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
.info_section .info_links ul {
  padding-left: 15px;
}
.info_section .info_links ul .active::before {
  background-color: #e41a2b;
}
.info_section .info_links ul li {
  list-style-type: none;
  position: relative;
}
.info_section .info_links ul li::before {
  content: "";
  left: -15px;
  top: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.info_section .info_links ul li a {
  color: #ffffff;
}
.info_section .info_links ul li:hover::before {
  background-color: #e41a2b;
}
.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 15px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}
.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e41a2b;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid #e41a2b;
  outline: none;
}
.info_section .info_form button:hover {
  background-color: transparent;
  color: #e41a2b;
}
.info_section .info_social .social_container {
  display: flex;
}
.info_section .info_social .social_container a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 5px;
  color: #1a1c78;
  font-size: 16px;
}
.info_section .info_social .social_container a:hover {
  color: #e41a2b;
}

.reduction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-flottante {
  width: 50%;
  height: 500px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.img-flottante1 {
  width: 100%;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #030d47;
  text-align: center;
}
.footer_section p {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  padding: 25px 0;
  margin: 0;
}
.footer_section p a {
  color: inherit;
}/*# sourceMappingURL=style.css.map */